.li-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-image {
  height: 200px;
  width: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.single-heading {
  font-size: 20px;
}
.link {
  color: black;
  text-decoration: none;
}
