.button {
  background-color: green;
  border-style: none;
  width: 40px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.star {
  height: 20px;
  width: 20px;
}
.item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
  margin-top: 10%;
}
.item {
  height: 400px;
  width: 60%;
}
.cart-button {
  background-color: blue;
  border-style: none;
  color: white;
  border-radius: 8px;
  padding: 5px;
}
.details {
  margin-left: 10px;
  width: 40%;
}
.separate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.item-heading {
  font-size: 25px;
}
.popup-para {
  color: red;
}

@media screen and (max-width: 479px) {
  .item-container {
    width: 350px;
  }
}

@media screen and (min-width: 480px) {
  .item-container {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .item-container {
    width: 600px;
  }
}
