.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 100vh;
  width: 60%;
}
.home-text {
  background-color: #2f4f4f;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.home-heading {
  color: white;
  text-align: center;
}
.home-para {
  color: white;
  font-size: 20px;
  text-align: center;
}
.offer {
  height: 350px;
  width: 300px;
}

@media screen and (max-width: 480px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-image {
    height: 50vh;
    width: 100%;
  }
  .home-text {
    background-color: #2f4f4f;
    width: 100%;
    height: 50vh;
  }
  .home-heading {
    font-size: 20px;
  }
  .home-para {
    font-size: 15px;
  }
}

@media screen and (min-width: 480px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-image {
    height: 50vh;
    width: 100%;
  }
  .home-text {
    background-color: #2f4f4f;
    width: 100%;
    height: 50vh;
  }
  .home-heading {
    font-size: 20px;
  }
  .home-para {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .offer {
    height: 220px;
    width: 220px;
  }
  .home-image {
    height: 100vh;
    width: 70%;
  }
  .home-heading {
    font-size: 25px;
  }
  .home-text {
    width: 30%;
    height: 100vh;
  }
  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .home-image {
    width: 65%;
  }
  .offer {
    height: 300px;
    width: 300px;
  }
  .home-text {
    width: 35%;
  }
  .home-heading {
    font-size: 30px;
  }
}

@media screen and (min-width: 1285px) {
  .offer {
    height: 350px;
    width: 300px;
  }
  .home-image {
    width: 60%;
  }
  .home-text {
    width: 40%;
  }
}
